# root folder
.DS_Store
.venv
.vscode

# cloud-storage folder
src/cloud-storage/logs/
src/cloud-storage/.DS_Store
src/cloud-storage/__pycache__
src/cloud-storage/aws-lambda-package/python
src/cloud-storage/aws-lambda-package/.DS_Store
src/cloud-storage/portfolio_optimization_project_dbt/logs/
src/cloud-storage/portfolio_optimization_project_dbt/.venv/
src/cloud-storage/portfolio_optimization_project_dbt/seeds/
src/cloud-storage/portfolio_optimization_project_dbt/tests/
src/cloud-storage/portfolio_optimization_project_dbt/target/
src/cloud-storage/portfolio_optimization_project_dbt/macros/
src/cloud-storage/portfolio_optimization_project_dbt/.DS_Store
src/cloud-storage/portfolio_optimization_project_dbt/README.md
src/cloud-storage/portfolio_optimization_project_dbt/analyses/
src/cloud-storage/portfolio_optimization_project_dbt/snapshots/
src/cloud-storage/portfolio_optimization_project_dbt/dbt_packages/
src/cloud-storage/portfolio_optimization_project_dbt/models/example
src/cloud-storage/portfolio_optimization_project_dbt/models/.DS_Store
src/cloud-storage/portfolio_optimization_project_dbt/models/company_stock/.DS_Store

# local-storage folder
src/local-storage/logs/
src/local-storage/.DS_Store
src/local-storage/__pycache__
src/local-storage/portfolio_optimization_project_dbt/logs/
src/local-storage/portfolio_optimization_project_dbt/.venv/
src/local-storage/portfolio_optimization_project_dbt/seeds/
src/local-storage/portfolio_optimization_project_dbt/tests/
src/local-storage/portfolio_optimization_project_dbt/target/
src/local-storage/portfolio_optimization_project_dbt/macros/
src/local-storage/portfolio_optimization_project_dbt/.DS_Store
src/local-storage/portfolio_optimization_project_dbt/README.md
src/local-storage/portfolio_optimization_project_dbt/analyses/
src/local-storage/portfolio_optimization_project_dbt/snapshots/
src/local-storage/portfolio_optimization_project_dbt/dbt_packages/
src/local-storage/portfolio_optimization_project_dbt/models/example
src/local-storage/portfolio_optimization_project_dbt/models/.DS_Store
src/local-storage/portfolio_optimization_project_dbt/models/company_stock/.DS_Store

# docs folder
docs/_static
docs/.DS_Store
docs/_templates
docs/images/
