# root folder
.DS_Store
.venv
.vscode

# cloud-storage folder
cloud-storage/logs/
cloud-storage/.DS_Store
cloud-storage/__pycache__
cloud-storage/aws-lambda-package/python
cloud-storage/aws-lambda-package/.DS_Store
cloud-storage/portfolio_optimization_project_dbt/logs/
cloud-storage/portfolio_optimization_project_dbt/.venv/
cloud-storage/portfolio_optimization_project_dbt/seeds/
cloud-storage/portfolio_optimization_project_dbt/tests/
cloud-storage/portfolio_optimization_project_dbt/target/
cloud-storage/portfolio_optimization_project_dbt/macros/
cloud-storage/portfolio_optimization_project_dbt/.DS_Store
cloud-storage/portfolio_optimization_project_dbt/README.md
cloud-storage/portfolio_optimization_project_dbt/analyses/
cloud-storage/portfolio_optimization_project_dbt/snapshots/
cloud-storage/portfolio_optimization_project_dbt/dbt_packages/
cloud-storage/portfolio_optimization_project_dbt/models/example
cloud-storage/portfolio_optimization_project_dbt/models/.DS_Store
cloud-storage/portfolio_optimization_project_dbt/models/company_stock/.DS_Store

# local-storage folder
local-storage/logs/
local-storage/.DS_Store
local-storage/__pycache__
local-storage/portfolio_optimization_project_dbt/logs/
local-storage/portfolio_optimization_project_dbt/.venv/
local-storage/portfolio_optimization_project_dbt/seeds/
local-storage/portfolio_optimization_project_dbt/tests/
local-storage/portfolio_optimization_project_dbt/target/
local-storage/portfolio_optimization_project_dbt/macros/
local-storage/portfolio_optimization_project_dbt/.DS_Store
local-storage/portfolio_optimization_project_dbt/README.md
local-storage/portfolio_optimization_project_dbt/analyses/
local-storage/portfolio_optimization_project_dbt/snapshots/
local-storage/portfolio_optimization_project_dbt/dbt_packages/
local-storage/portfolio_optimization_project_dbt/models/example
local-storage/portfolio_optimization_project_dbt/models/.DS_Store
local-storage/portfolio_optimization_project_dbt/models/company_stock/.DS_Store

# docs folder
docs/_static
docs/.DS_Store
docs/_templates
docs/images/
