.DS_Store
__pycache__
logs/

portfolio_optimization_project_dbt/.venv/
portfolio_optimization_project_dbt/analyses/
portfolio_optimization_project_dbt/target/
portfolio_optimization_project_dbt/dbt_packages/
portfolio_optimization_project_dbt/logs/
portfolio_optimization_project_dbt/tests/
portfolio_optimization_project_dbt/target/
portfolio_optimization_project_dbt/logs/
portfolio_optimization_project_dbt/macros/
portfolio_optimization_project_dbt/snapshots/
portfolio_optimization_project_dbt/seeds/
portfolio_optimization_project_dbt/.DS_Store
portfolio_optimization_project_dbt/README.md
portfolio_optimization_project_dbt/models/example
portfolio_optimization_project_dbt/models/.DS_Store
portfolio_optimization_project_dbt/models/company_stock/.DS_Store

aws-lambda-package/python

docs/_build
docs/_static
docs/_templates




